<!doctype html>
<html>
{% extends "bootstrap/base.html" %}
{% block title %}Covidvisual{% endblock %}
	<head>
	</head>
	<body>
	{% block navbar %}
		<nav class="navbar navbar-fixed-top">
			{{nav.top.render()}}
		</nav>
	{%- endblock %}
	{% block content %}
		{% block main %}
		{%- endblock %}
		{% block footer %}

		<footer class="footer">
			<div class="navbar-fixed-bottom row-fluid"
			<	div class = "container">
					<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1);">
						© 2021 Andrei Lukin
					</div>
				</div>
			</div>
		</footer>
		{%- endblock %}
	{%- endblock %}
	</body>
</html>
